:root {
  --main-font-color: #212121;
  --secondary-font-color: #757575;
  --brand-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100%;
}

ul {
  list-style-type: none;
}

h2 {
  text-align: center;
}


/*navbar and links start*/

.navbar a {
  text-decoration: none;
}

.nav-list {
  list-style: none;
  display: inline-block;
}

.nav-list ul {
  display: inline-block;
}

.nav-list li {
  display: inline-block;
  padding: 0px 20px;
}

.navbar .nav-list a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--main-font-color, black);
}
.nav-link .contact-link {
  display: inline-flex;
}
.nav-link .contact-link ul {
  display: inline-flex;
}
.nav-link .contact-link li {
  display: inline-block;
  padding: 0px 20px;
}
/*navbar and links end*/

/*logo start*/

.brand-color {
  color: #2196f3;
}

.top-brand-link {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}
.bottom-brand-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
/*logo end*/

.big-black-box {
  height: 600px;
  width: 1600px;
  left: 0px;
  top: 80px;
  border-radius: 0px;

  background: #2f303a;
}
h1 {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;

  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;
}

/*button main page start*/

.main-page-button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  cursor: pointer;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--brand-color, blue);

  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}

/*button end*/

/*our-strengths start*/

.our-strengths {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
 text-decoration: none;
  color: #757575;
}

.our-strengths {
  display: inline-flex;
}
/*workscope start*/

.workscope {
  position: absolute;
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
}

.list-of-workscope {
  display: inline-flex;
}

/*workscope end*/

/*our-crew start*/

.our-crew {
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;

  background: #f5f4fa;
}

.list-of-our-crew {
  display: inline-flex;
}

/*our-crew end*/

/*footer start*/

.little-black-box {
  position: absolute;
  text-decoration: none;

  height: 252px;
  width: 1600px;
  left: 0px;
  top: 2097px;
  border-radius: 0px;

  background: #2f303a;
}

/*only portfolio styles start*/

/*buttons start*/

.portfolio-page-buttons li {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;

  display: inline-flex;
  text-align: center;
  cursor: pointer;
  color: #212121;
  background: #f5f4fa;
}

.button-wszystkie {
  cursor: pointer;
  transition-duration: 0.3s;
}
.button-wszystkie:hover {
  color: #f5f4fa;
  background-color: #2196f3;
}

.button-strony {
  cursor: pointer;
  transition-duration: 0.3s;
}
.button-strony:hover {
  color: #f5f4fa;
  background-color: #2196f3;
}

.button-aplikacje {
  cursor: pointer;
  transition-duration: 0.3s;
}
.button-aplikacje:hover {
  color: #f5f4fa;
  background-color: #2196f3;
}

.button-dizajn {
  cursor: pointer;
  transition-duration: 0.3s;
}
.button-dizajn:hover {
  color: #f5f4fa;
  background-color: #2196f3;
}

.button-marketing {
  cursor: pointer;
  transition-duration: 0.3s;
}
.button-marketing:hover {
  color: #f5f4fa;
  background-color: #2196f3;
}
/*buttons end*/

/*projects start*/

.first-line-of-projects {
  display: inline-flex;
}

.second-line-of-projects {
  display: inline-flex;
}

.third-line-of-projects {
  display: inline-flex;
}

/*projects end*/
