:root {
  --main-font-color: #212121;
  --secondary-font-color: #757575;
  --brand-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100%;
}

ul {
  list-style-type: none;
}

h2 {
  text-align: center;
}

/*navbar and links start*/

.navbar a {
  text-decoration: none;
}

.nav-list {
  list-style: none;
  display: inline-block;
}

.nav-list ul {
  display: inline-block;
}

.nav-list li {
  display: inline-block;
  padding: 0px 20px;
}

.navbar .nav-list a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--main-font-color, black);
}

.navbar .contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color, gray);
}

a:link {
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

/*navbar and links end*/

/*logo start*/

.brand-color {
  color: #2196f3;
}

.top-brand-link {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}
.bottom-brand-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
/*logo end*/

.big-black-box {
  height: 600px;
  width: 1600px;
  left: 0px;
  top: 80px;
  border-radius: 0px;

  background: #2f303a;
}
h1 {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;

  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;
}

/*button start*/

.main-page-button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  cursor: pointer;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--brand-color, blue);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}

.portfolio-page-button {
  cursor: pointer;
  display: inline-block;
  width: 114px;
  height: 38px;
  left: 740px;
  top: 174px;

  background: #f5f4fa;
  border-radius: 4px;
}

/*button end*/

.our-strengths {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: #757575;
}

.title-of-strengths {
  text-transform: uppercase;
}

.our-strengths-1 a {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 215px;
  top: 800px;
}

.our-strengths-2 a {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 515px;
  top: 800px;
}

.our-strengths-3 a {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 815px;
  top: 800px;
}

.our-strengths-4 a {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 1115px;
  top: 800px;
}

.workscope {
  position: absolute;
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
}

.our-crew {
  position: absolute;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;

  background: #f5f4fa;
}

.little-black-box {
  position: absolute;

  height: 252px;
  width: 1600px;
  left: 0px;
  top: 2097px;
  border-radius: 0px;

  background: #2f303a;
}
